<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,536},{1200,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1200,800}}</string>
				<key>sourceSize</key>
				<string>{1200,800}</string>
			</dict>

			<key>cloud1a.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1844,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1844,438}}</string>
				<key>sourceSize</key>
				<string>{1844,438}</string>
			</dict>

			<key>cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1337},{1004,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1004,232}}</string>
				<key>sourceSize</key>
				<string>{1005,233}</string>
			</dict>

			<key>man.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,439},{1200,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{1200,96}}</string>
				<key>sourceSize</key>
				<string>{1200,97}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites2x.png</string>
			</dict>
		</dict>
</plist>